:root {
  --backGroundClr: #272727;
  --basicTxtColor: white;
  --highLight: orange;
  --highLight2: rgb(233, 166, 41);
  --minColor: rgb(151, 151, 151);

  --basicFont: "Calibri", sans-serif;
  --baiscFontWeight: 350;
  --basicFontSize: 16px;
}
@font-face {
  font-family: "for_heading";
  src: url("../fonts/DancingScript-VariableFont_wght.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: var(--basicTxtColor);
  font-weight: var(--baiscFontWeight);
  font-size: var(--basicFontSize);

  font-family: var(--basicFont);
  width: 100%;
  height: 100%;
  border: 0.1rem solid rgba(255, 0, 0, 0);
  padding: 0.25rem;
}
h1 {
  font-family: for_heading;
  font-weight: 200;
  font-size: 3rem;
  color: var(--highLight);
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--basicTxtColor);
  background-color: var(--backGroundClr);
}
a {
  all: unset;
}
.icons {
  height: 30px !important;
  width: 40px !important;
}

/* Remove all styles from text inputs, tel inputs, and textareas */

input,
textarea,
button {
  all: unset; /* Removes all styling */
  appearance: none; /* Removes platform-native styling */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */

  /* Additional resets for complete control */
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  width: auto;
  height: auto;
  font: inherit;
  color: inherit;
  line-height: normal;
}

.login-container,
button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-container {
  padding: 2rem 1rem;
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.496);
  background: rgba(30, 30, 40, 0.1); /* Semi-transparent dark base */
  backdrop-filter: blur(6px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(6px); /* Safari support */
}
.form-group {
  height: fit-content;
  width: 80vw;
  background-color: rgba(128, 128, 128, 0.805);
  margin: 1rem 0;
  font-size: 15px;
  display: flex;
  justify-content: start;
  padding: 0.4rem 1rem;
  align-items: center;
  border-radius: 0.5rem;
}

.form-group :only-child {
  width: 100%;
}
input::placeholder,
textarea::placeholder {
  color: white;
}
.HomeBtn {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  color: var(--highLight);
  font-size: 20px;
  cursor: pointer;
}
textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}
button {
  background-color: var(--highLight2);
  height: 50px;
  width: 15rem;
  align-self: center;
  justify-self: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-top: 2rem;
}
