:root {
  --backGroundClr: #272727d6;
  --basicTxtColor: white;
  --highLight: orange;
  --highLight2: rgb(233, 166, 41);
  --boxClrs: rgba(0, 0, 0, 0.346);
  --minColor: rgb(151, 151, 151);

  --basicFont: "Calibri", sans-serif;
  --baiscFontWeight: 350;
  --basicFontSize: 16px;
}
@font-face {
  font-family: "for_heading";
  src: url("../fonts/DancingScript-VariableFont_wght.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
* {
  font-family: var(--basicFont);
  color: #ffffff;
  box-sizing: border-box;
  padding: 0;
  border: 0;
}
a{
  all:unset;
  transition: all 0.5s ease-in-out;
}
a:hover{
  transform: scale(1.2);
  color: white;
}
body {
  font-family: var(--basicFont);
  background-color: var(--backGroundClr);
  margin: 0;
  padding: 20px;
}
.profile-container {
  border: 1px solid rgba(255, 255, 255, 0.496);
  background: rgba(14, 9, 6, 0.5); /* Semi-transparent dark base */
  backdrop-filter: blur(6px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(6px); /* Safari support */

  max-width: 800px;
  margin: 2rem auto;
  /* background: var(--backGroundClr); */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.589);
  overflow: hidden;
}
.profile-header {
  padding: 2rem;
  word-break: break-all;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 3px;
  font-family: var(--basicFont);
}

.profile-body {
  padding: 30px;
}
.form-group {
  margin-bottom: 20px;
}
label {
  display: block;
  color: var(--highLight2);
  margin-bottom: 10px;
  font-weight: 500;
  letter-spacing: 3px;
}
input,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #dddddd5e;
  border-radius: 6px;
  font-size: 16px;
  transition: border 0.3s;
}
.HomeBtn {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  color: var(--highLight);
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
}
input:focus,
textarea:focus {
  border-color: var(--highLight);
  outline: none;
}
.editable {
  background-color: transparent;
  backdrop-filter:blur(10px) ;
  /* color: white; */
}
.edit-btn {
  background-color:rgb(70, 144, 255);
  /* color: white; */
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: background 0.3s;
}
.edit-btn:hover {
  background-color: rgb(27, 118, 255);
}
.save-btn {
  background-color: #4caf50;
  display: none;
}
.order-history {
  margin-top: 40px;
}
.order-item {
  border: 1px solid #c2c2c2c8;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 15px;
  background: #131d1e5f;
}
.order-item h4 {
  margin-top: 0;
  color: var(--highLight2);
}
.order-meta {
  display: flex;
  justify-content: space-between;
  color: #eee;
  font-size: 14px;
}
