{% extends "base.html" %} {%block CssFile%} {{ url_for('static',
filename='css/style.css') }} {% endblock %} {% block content%}
<div class="hero_section">
  <p class="hero_heading">Main heading here ola</p>
  <p class="hero_subline">subline text here avara ka davra</p>
  <a href="">
    <div class="shop_button center"><p>Shop Now</p></div>
  </a>
</div>

<p class="identity">OUR PRODUCTS</p>
<div class="gellary autoScrool DF center" id="gallery">
  <!-- <div class="leftArrow">
    <img src="../static/iamges/arrow-left.svg" alt="" />
    </div> -->

  {%for n in p %}
  <div class="tile center">
    <img src="{{n.pic}}" />
    <p class="productName">{{n.name}}</p>
    <p class="productPrice">{{n.price}}tk</p>
    <div class="AddTOCartBtn center">
      <p>Add to Cart</p>
    </div>
  </div>
  {%endfor%}
  <!-- <div class="rightArrow">
    <img src="../static/iamges/arrow-right.svg" alt="" />
    </div> -->
</div>

<p class="identity">WHY CHOOSE US</p>
<div class="WhyUs DF">
  <div class="choseItem DF">
    <img src="../static/iamges/underwear.svg" class="icons" />
    <p>Comfort fit</p>
  </div>
  <div class="choseItem DF">
    <img src="../static/iamges/textile.svg" class="icons" />

    <p>
      Premium <br />
      Febric
    </p>
  </div>
  <br />
  <div class="choseItem DF">
    <img src="../static/iamges/package.svg" class="icons" />

    <p>
      Discreet <br />
      Packaging
    </p>
  </div>
  <div class="choseItem DF">
    <img src="../static/iamges/delivery_truck_speed.svg" class="icons" />
    <p>Fast Delivery</p>
  </div>
</div>

<p class="identity">ABOUT VOID</p>
<div class="about">
  <p></p>
  <p></p>
  <p></p>
</div>
{% endblock %} 
{%block cartContent%}
<div class="citem DF">
  <img src="../static/iamges/Cluffy.jpg" class="Pimage" />

  <div class="texts">
    <p class="CIname">Name: Monkey D luffy</p>
    <p class="Ctk">Price: 5000 tk</p>
    <p class="ID">Product ID : 23100122</p>
  </div>
  <button class="btnImgs">
    <img src="../static/iamges/delete.svg" alt="" class="del" />
  </button>
</div>
{% endblock %}
<!--  my cart section  -->
{% block addJS%}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
