{% extends "base.html" %}

{%block CssFile%} 
{{ url_for('static', filename='css/style.css') }}
{% endblock %}

{%block CssFile2%} 
{{ url_for('static', filename='css/shop.css') }}
{% endblock %}

{% block content%}
<div class="hero_section">
  <p class="hero_heading">Main heading here ola</p>
  <p class="hero_subline">subline text here avara ka davra</p>

</div>
<h1 class="hero_heading f2">MEN</h1>

<div class="gallery-container">
    <button class="toggle-layout-btn">
        <img src="../static/iamges/gridO.svg" alt="">
    </button>


<div class="gellary DF center" >
    <div class="tile center">
        <img src="../static/iamges/Cluffy.jpg" />
        <p class="productName">Monkey D Luffy</p>
        <p class="productPrice">300M tk</p>
        
    </div>
        <div class="tile center">
        <img src="../static/iamges/Czoro.jpg" />
        <p class="productName">Monkey D Luffy</p>
        <p class="productPrice">300M tk</p>
        
    </div>    <div class="tile center">
        <img src="../static/iamges/Cluffy.jpg" />
        <p class="productName">Monkey D Luffy</p>
        <p class="productPrice">300M tk</p>
        
    </div>    <div class="tile center">
        <img src="../static/iamges/Cluffy.jpg" />
        <p class="productName">Monkey D Luffy</p>
        <p class="productPrice">300M tk</p>
        
    </div>    <div class="tile center">
        <img src="../static/iamges/Cluffy.jpg" />
        <p class="productName">Monkey D Luffy</p>
        <p class="productPrice">300M tk</p>
        
    </div>    <div class="tile center">
        <img src="../static/iamges/Cluffy.jpg" />
        <p class="productName">Monkey D Luffy</p>
        <p class="productPrice">300M tk</p>
        
    </div>    <div class="tile center">
        <img src="../static/iamges/Cluffy.jpg" />
        <p class="productName">Monkey D Luffy</p>
        <p class="productPrice">300M tk</p>
        
    </div>    <div class="tile center">
        <img src="../static/iamges/Cluffy.jpg" />
        <p class="productName">Monkey D Luffy</p>
        <p class="productPrice">300M tk</p>
        
    </div>    <div class="tile center">
        <img src="../static/iamges/Cluffy.jpg" />
        <p class="productName">Monkey D Luffy</p>
        <p class="productPrice">300M tk</p>
        
    </div>
</div>
</div>
<div class="spacial_Item">
    <div class="texts">

        <p class="heading" >Limited Adition</p>
        <p>there are only <span class="highlight">69</span> available</p>
        <p>Get yours before its Null</p>
    </div>
    <div class="tile">
        <img src="../static/iamges/jimbe.jpg" >
        <p class="productName">name</p>
        <p class="productPrice">5000 tk</p>

    </div>

        <a href="">More info About This Product</a>
</div>
<h1 class="hero_heading f2">WOMEN</h1>

<div class="gallery-container">
    <button class="toggle-layout-btn">
        <img src="../static/iamges/gridO.svg" alt="">
    </button>


<div class="gellary DF center" >
    <div class="tile center">
        <img src="../static/iamges/nami.jpg" />
        <p class="productName">Monkey D Luffy</p>
        <p class="productPrice">300M tk</p>
        
    </div>
        <div class="tile center">
        <img src="../static/iamges/robin.jpg" />
        <p class="productName">Monkey D Luffy</p>
        <p class="productPrice">300M tk</p>
        
    </div>    <div class="tile center">
        <img src="../static/iamges/nami.jpg" />
        <p class="productName">Monkey D Luffy</p>
        <p class="productPrice">300M tk</p>
        
    </div>    <div class="tile center">
        <img src="../static/iamges/nami.jpg" />
        <p class="productName">Monkey D Luffy</p>
        <p class="productPrice">300M tk</p>
        
    </div>    <div class="tile center">
        <img src="../static/iamges/nami.jpg" />
        <p class="productName">Monkey D Luffy</p>
        <p class="productPrice">300M tk</p>
        
    </div>    <div class="tile center">
        <img src="../static/iamges/nami.jpg" />
        <p class="productName">Monkey D Luffy</p>
        <p class="productPrice">300M tk</p>
        
    </div>    <div class="tile center">
        <img src="../static/iamges/nami.jpg" />
        <p class="productName">Monkey D Luffy</p>
        <p class="productPrice">300M tk</p>
        
    </div>    <div class="tile center">
        <img src="../static/iamges/nami.jpg" />
        <p class="productName">Monkey D Luffy</p>
        <p class="productPrice">300M tk</p>
        
    </div>    <div class="tile center">
        <img src="../static/iamges/nami.jpg" />
        <p class="productName">Monkey D Luffy</p>
        <p class="productPrice">300M tk</p>
        
    </div>
</div>
</div>
<div class="spacial_Item">
    <div class="texts">

        <p class="heading" >Limited Adition</p>
        <p>there are only <span class="highlight">69</span> available</p>
        <p>Get yours before its Null</p>
    </div>
    <div class="tile">
        <img src="../static/iamges/robin.jpg" >
        <p class="productName">name</p>
        <p class="productPrice">5000 tk</p>
        
    </div>
    <a href="">More info About This Product</a>

</div>
{% endblock %}

{% block addJS%}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script>
    document.querySelectorAll('.toggle-layout-btn').forEach(button => {
    button.addEventListener('click', (e) => {
        const gallery = e.target.closest('.gallery-container').querySelector('.gellary');
        gallery.classList.toggle('grid-mode');
    });
});
</script>
{% endblock %}